.card {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  background: #fff;
  animation: show 1s linear;
  border-radius: 10px;
}
@keyframes show {
  0% {
    transform: translateY(5rem);
    opacity: 0.3;
  }
  50% {
    transform: translateY(2.5rem);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.img-cover {
  width: 100%;
  background-color: #aaa;
  border-radius: 10px 10px 0 0;
}
.img-cover img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}
.card-description {
  line-height: 1.6;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0rem 1.5rem;
}
.btn-group {
  display: flex;
}
.btn {
  width: 100%;
  border: 1px solid #eee;
  border-color: #eee #eee transparent #eee;
  color: #333;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.btn:nth-child(1) {
  border-radius: 0 0 0 10px;
}
.btn:nth-child(2) {
  border-radius: 0 0 10px 0;
}
.btn:hover {
  background-color: #eee;
  color: #0484dc;
}
