.loading {
  text-align: center;
  /* font-size: 2rem; */
}
/*  */
.spinner {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  /* background-color: #4b9cdb; */
  background-color: #0484dc;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

.spinner {
  animation: loadingI 2s linear infinite;
}
.bubble-1,
.bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}
.bubble-2 {
  animation-delay: -1s;
}

@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
