.tag {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  background: #ddd;
  color: #222;
  border: 1px dotted;
}
.js,
.js-dom {
  background: #182d15;
  color: #e0fbdc;
}
.css {
  background: #242759;
  color: #cbcdeb;
}
.html {
  background: #e79638;
  color: #ffedd9;
}
.node,
.hooks {
  background: #098d0fe8;
  color: #deffd9;
}
.express {
  background: #2c09c4e0;
  color: #e7daff;
}
.redux {
  background: #c52184;
  color: #fbe6f3cc;
}
.react {
  background: #0916c4de;
  color: #d9f0ff;
}
.mongodb {
  background: #0499b8ed;
  color: #daf8ffcc;
}
.firebase,
.api {
  background: #e7e638d1;
  color: #585924;
}
.bootstrap,
.angular,
.scss {
  background: #c40909db;
  color: #ffdada;
}
