/* ########## */
.landing {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(
      108deg,
      rgba(5, 13, 101, 0.502),
      rgba(4, 93, 108, 0.449)
    ),
    url("../../assets/images/web-development-plan.jpg");
  background-position: center;
  background-size: cover;
}
/* ********************* */
.welcome {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.welcome h3 {
  font-size: 1.3rem;
}
.right-mark,
.close-alert {
  color: #033c03;
}
.right-mark {
  font-size: 2rem;
}
.close-alert {
  font-size: 1.3rem;
  cursor: pointer;
}
