/* ########## */
.landing {
  position: relative;
  width: 100%;
  height: 85vh;
  background-image: url("../../assets/images/shuffle-01.jpg");
  background-position: center;
  background-size: cover;
}
/* ********************* */
.header-title {
  font-size: 6rem;
  text-align: center;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
}
