/* ########## */
.landing {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(
      108deg,
      rgba(5, 13, 101, 0.502),
      rgba(4, 93, 108, 0.449)
    ),
    url("../../assets/images/pexels-oleg-magni-2058128.jpg");
  background-position: center;
  background-size: cover;
}
/* ********************* */
.header-title {
  font-size: 6rem;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 3rem;
  color: #f4f7ff;
  text-transform: uppercase;
  background-image: url("../../assets/images/1664907957247.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  background-size: contain;
}
