:root {
  /* main color */
  --main-color1: #0484dc;

  --main-color2: #024c9e;
  --main-color3: #002669;
  --main-color-1: #3dadea;
  --main-color-2: #98e4fb;
  --main-color-3: #cbf4fd;
  --main-color0: #3dadea91;
  --success-color1: #3ec93e;
  --success-color2: #0b6029;
  --danger-color1: #fc473a;
  --danger-color2: #921229;
  --light-color: #eee;
  --grey-color: #aaa;
  --dark-0: #000;
  --dark-1: #111;
  --dark-2: #222;
  --dark-3: #333;
}

/* ########## */
.landing {
  position: relative;
  width: 100%;
  height: 55vh;
  background-image: url("../../assets/images/subscribe.jpg");
  background-position: center;
  background-size: cover;
}
.landing .text {
  width: 75%;
  padding: 2rem 4rem;
  background: var(--main-color0);
  text-shadow: 0px 1px 3px rgb(0 0 0 / 70%);
}
@media (max-width: 500px) {
  .landing .text {
    width: 85%;
  }
}
@media (max-width: 400px) {
  .landing .text {
    width: 90%;
  }
}
/* ********************* */
.welcome {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.welcome h3 {
  font-size: 1.3rem;
  color: var(--success-color2);
}
.right-mark,
.close-alert {
  color: var(--success-color2);
}
.right-mark {
  font-size: 2rem;
}
.close-alert {
  font-size: 1.3rem;
  cursor: pointer;
}
/* ********************* */
.icon {
  font-size: 2rem;
}
.header-title {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 3rem;
  color: #f4f7ff;
}

.header-subtitle {
  font-size: 2rem;
  text-align: justify;
  line-height: 1.6;
  color: #f4f7ff;
}
.mern {
  text-transform: uppercase;
  background-image: url("../../assets/images/design-features.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  background-size: contain;
}

@media (max-width: 500px) {
  .header-title {
    font-size: 4.5rem;
  }
  .header-subtitle {
    font-size: 1.5rem;
  }
}
