/* ########## */
.landing {
  position: relative;
  width: 100%;
  height: 55vh;
  background-image: url("../../assets/images/design-features.jpg");
  background-position: center;
  background-size: cover;
}
/* ********************* */
.header-title {
  font-size: 6rem;
  text-align: center;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
}

.icon {
  font-size: 5rem;
}
.node-icon {
  color: lime;
}
.react-icon {
  color: #00ffff;
}
.js-icon {
  color: #fff700;
}
.css-icon {
  color: #0072ff;
}
.html-icon {
  color: #ff5200;
}
