.card {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  animation: show 1s linear;
}
@keyframes show {
  0% {
    transform: translateY(5rem);
    opacity: 0.3;
  }
  50% {
    transform: translateY(2.5rem);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.img-cover {
  width: 100%;
  background-color: #aaa;
}
.img-cover img {
  width: 100%;
  display: block;
}

.img-cover {
  width: 100%;
}
.card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}
.card-description {
  line-height: 1.6;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0rem 1.5rem;
}
.btn-group {
  display: flex;
}
.btn {
  width: 100%;
  border: 1px solid #eee;
  color: #333;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: #aaa;
  color: #0c2f90;
}
