.icon {
  font-size: 4rem;
}

.link {
  color: #919191;
  text-decoration: none;
  font-size: 2rem;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.edu {
  border: 1px solid #eee;
}
.flex {
  padding: 1.7rem 2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  gap: 2rem;
}
.flex:hover {
  background-color: #eee;
}
.title {
  font-size: 2rem;
  color: #222;
}
.title > code {
  color: rgb(203, 203, 203);
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
}
.chevron {
  font-size: 3rem;
  color: #aaa;
  transition: all 0.5s;
}
.up {
  transform: rotate(180deg);
}
.down {
  transform: rotate(0deg);
}
.text {
  padding: 0.7rem 4rem;
  margin-bottom: 1.5rem;
}
.description {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #8d8d8d;
  font-weight: 100;
  margin-bottom: 1rem;
  font-style: italic;
}
.details {
  font-size: 1.7rem;
  line-height: 1.6;
  color: #111;
  font-weight: 500;
  /* border: 1px solid #aaa; */
  padding: 0.8rem;
}
.list-title {
  font-size: 1.7rem;
  width: fit-content;
  border: 1px solid #aaa;
  padding: 1.3rem 1.5rem;
  margin: 1rem 0;
  background: #eee;
}
.list {
  padding: 0 1rem 0 4rem;
}
.list li {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  color: #000;
  font-weight: 700;
}
li > code {
  color: rgb(203, 203, 203);
  font-weight: 400;
  font-style: italic;
}
