.contact {
  margin-bottom: 6rem;
  border: 1px solid #eee;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}
.image {
  flex: 1;
  background-image: url("../../assets/images/shuffle-04.jpg");
  background-position: center;
  background-size: cover;
}
.flex-row {
  flex: 1;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.col {
  padding: 1rem;
  border: 1px solid #eee;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.col:hover {
  background-color: #eee;
}
.icon {
  font-size: 4rem;
}

.linkedin {
  color: #0057b1;
}
.gmail {
  color: #bfd5eb;
}
.phone {
  color: #12b588;
}
.link {
  color: #919191;
  text-decoration: none;
  font-size: 2rem;
}

@media (max-width: 700px) {
  .contact {
    flex-direction: column-reverse;
  }
}
