.btn-add {
  border: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  color: #eee;
  background-color: #448cec;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  transition: all 0.5s;
  animation: popup 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-add:hover {
  background-color: #14407a;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
