* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px */
  font-size: 62.5%;
}
body {
  font-family: system-ui;
}
/*###################################*/
/*########[ themes classes ]#########*/
.light {
  background-color: #fff;
}
.dark {
  background-color: #222;
}
.light-title {
  color: #222;
}
.dark-title {
  color: #fff;
}
/*###################################*/
/*###################################*/
/*########[ Global classes ]#########*/
/*###################################*/
.full {
  width: 100%;
  height: fit-content;
}
.container {
  width: 80%;
  margin: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  padding-bottom: 6rem;
  position: relative;
  overflow-x: hidden;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.position-bottom {
  position: absolute;
  bottom: 2rem;
  left: 0;
}
.pb {
  padding-bottom: 3rem;
}
/* ************************************ */
/* Forms style */
.form-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00000087;
  width: 101%;
  height: 101%;
  z-index: 9998;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  border: 1px solid #aaa;
  background: #fff;
  padding: 2rem;
  z-index: 9999;
}

.input {
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  border: 1px solid #0e4b81;
  background: aliceblue;
  margin-bottom: 1rem;
  outline: none;
}

.inputs-tools {
  display: flex;
  gap: 1rem;
}

.input.error {
  border: 1px solid #780202;
  background: #f61d1d74;
}

.textarea {
  height: 8rem;
  padding: 1rem;
}
.btns-flex {
  display: flex;
  justify-content: end;
}
.btn-form {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 1.4rem;
  transition: all 0.5s;
  cursor: pointer;
}
.btn-send {
  color: #eee;
  background: #12558f;
  margin-right: 1rem;
  border: none;
  border-bottom: 0.5rem solid #052d50;
}
.btn-cancle {
  color: #eee;
  background: #666;
  margin-right: 1rem;
  border: none;
  border-bottom: 0.5rem solid #333;
}
.btn-send:hover {
  background: #052d50;
  border-bottom: 0.5rem solid #031a2d;
}
.btn-cancle:hover {
  background: #333;
  border-bottom: 0.5rem solid #111;
}
.message {
  position: absolute;
  bottom: 2rem;
  font-size: 1.5rem;
  background: white;
  padding: 0.5rem 1rem;
  color: #780202;
  font-weight: 700;
}
/* ************************************ */
/* Alerts */
.bg-green {
  background: #00b008b8;
}

.alert {
  width: 100%;
  animation: alertAnimation 1s ease-out;
}
.success-alert {
  z-index: 999;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes alertAnimation {
  from {
    transform: translateY(-3rem);
  }
  to {
    transform: translateY(0rem);
  }
}

/* ************************************ */
/* ************************************ */
@media (max-width: 900px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 47%;
  }
  .container {
    width: 90%;
  }
}
