.header {
  height: 8rem;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 100%;
  z-index: 999;
  background: #fff;
  overflow: hidden;
}
/* class fixed */
/* 
position: fixed;
    top: 0;
    left: 0;
*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: 900;
  background-image: url("../assets/images/1664907957247.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  background-size: cover;
}

nav {
  transition: 0.7s;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.list-item a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  color: #0e3594;
  transition: 0.3s;
}

.list-item .active {
  color: #eee;
}

.btn {
  padding: 0.8rem 1.9rem;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 500;
}
.btn-login {
  color: #0b2e90;
  border: 1px solid #0b2e90;
  background-color: #fff;
}
.btn-login:hover {
  background-color: #0b2e90;
  color: #eee;
}

.x-icon-cover {
  display: none;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  cursor: pointer;
}
.o-icon-cover {
  display: none;
  border: 3px solid #eee;
  cursor: pointer;
  color: #0e3594;
}
.icon {
  font-size: 3rem;
}
.faBars {
  font-size: 3.5rem;
}
/* .faXmark {
 
} */
@media (max-width: 600px) {
  .header {
    height: 10rem;
  }
  .log {
    font-size: 2.5rem;
  }
  nav {
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 999;
    width: 100%;
    height: 100vh;
    transform: translateX(-50%);
    align-items: center;
  }
  .list {
    flex-direction: column;
    height: 100vh;
    background: #1b58aa;
    z-index: 99;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  .list-item a {
    font-size: 2.5rem;
    color: #eee;
  }
  .btn {
    padding: 1.5rem 3rem;
  }
  .x-icon-cover {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #eee;
    color: #1b58aa;
    position: absolute;
    top: 5rem;
    right: 5rem;
    z-index: 9999;
  }
  .o-icon-cover {
    width: 6rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
